@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "Claude";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #F4F3EE;
  --color-base-200: #FAFAFA;
  --color-base-300: #F2F2F2;
  --color-base-content: #333336;
  --color-primary: #C15F3C;
  --color-primary-content: #F9F9FA;
  --color-secondary: #B1ADA1;
  --color-secondary-content: #F9F9FA;
  --color-accent: #F4F3EE;
  --color-accent-content: #4A615E;
  --color-neutral: #ffffff;
  --color-neutral-content: #5C5A61;
  --color-info: #5D9FEB;
  --color-info-content: #2D3B5C;
  --color-success: #66CA7A;
  --color-success-content: #2F5B3F;
  --color-warning: #F0C854;
  --color-warning-content: #8C5A1D;
  --color-error: #E86D6D;
  --color-error-content: #5C2222;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}